:root {
    --game-green: #04ae3a;
    --game-yellow: #FFE51F;
    --game-red: #E11919;
    --game-blue: #004BAD;
    --header-blue: #0c3973;
    --background-blue: #e0e3f0;
    --hover-blue: #016af4;
    --sidebar-width: 300px;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: white;
}

/* Header Styles: Toggle instructions button, page title, Main Menu button */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: var(--header-blue);
    border-bottom: 2px solid black;
}

.header-button-container {
    display: flex;
    gap: 10px;
    height: 100%
}

.header-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    font-weight: bold;
    font-size: 20px;
    height: 60px;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    background-color: white;
    color: var(--header-blue);
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: none;
    transition: background-color 0.3s;
}

.toggle-button {
    width: var(--sidebar-width);
}

.header-button:hover {
    background-color: var(--hover-blue);
    color: white;
}

.title {
    margin-left: 20px;
    font-size: 2em;
    color: white;
    text-decoration: none;
}

/* Main Content Styles: Tables to input player info and choose categories */

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

/* Sidebar: For instructions*/

.sidebar {
    width: var(--sidebar-width);
    height: calc(100vh - 60px);
    border-right: 2px solid black;
    top: 60px;
    background-color: white;
    font-size: 17px;
    padding: 0px;
    box-sizing: border-box;
    right: -300px;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
}

.sidebar.active {
    transform: translateX(0);
}

.header-banner {
    background-color: var(--header-blue);
    padding: 10px;
    margin: 0;
    color: white;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.top-header {
    border-top: none;
}

.sidebar ul {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 20px;
}

.sidebar li {
    margin-bottom: 5px;
}

/* Input Container: Player input tables, play button */

.input-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    gap: 40px;
    padding: 20px;
    flex: 1;
}

.table-container {
    display: flex;
    flex-direction: row;
    align-items: left;
    flex: 1;
    margin-left: 10px;
    margin-top: 10px;
    gap: 10px;
}

.player-container, .category-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.player-title, .category-title {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.player-table, .category-table {
    width: 100%;
    border-collapse: collapse;
}

.category-table th, .player-table th,
.category-table td, .player-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    font-size: 20px;
}

.category-table td {
    background-color: #8792c5;
}

.category-table th, .player-table th {
    font-weight: bold;
    background-color: var(--header-blue);
    color: white;
}

/* Player Table Row Styles */

.color-cell {
    width: 150px;
    text-align: center;
    font-weight: bold;
}

.red-row {
    background-color: var(--game-red) !important;
}

.yellow-row {
    background-color: var(--game-yellow) !important;
}

.green-row {
    background-color: var(--game-green) !important;
}

.blue-row {
    background-color: var(--game-blue) !important;
}

/* Input Field Styles: Dropdown and text field*/

.category-dropdown {
    width: 200px;
    padding: 8px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"], select {
    font-size: 20px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

.invalid {
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

/* Play Button Styles */

.play-button {
    background-color: var(--header-blue);
    color: white;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    width: 150px;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease;
}

.play-button:hover {
    background-color: var(--hover-blue);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}

/* Lambda Character Styles */

#lambda-container {
    height: 100vh;
    width: 400px;
    position: relative;
    overflow: hidden;
}

.lambda {
    background-image: url('../images/lambda-happy.png');
    background-size: cover;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    position: absolute;
    right: 20%;
    bottom: 10%;
    animation: slideIn 1s ease-out;
    opacity: 1;
}

#speech-bubble {
    position: absolute;
    right: 10%;
    bottom: 45%;
    background: #fff;
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
    z-index: 2;
    width: 300px;
    font-size: 17px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: slideIn 1s ease-out;
}

#speech-bubble ul {
    text-align: left;
    list-style-type: decimal;
}

#speech-bubble li {
    margin-bottom: 5px;
}

.hide-speech-bubble {
    display: none;
}


/* Page Background Styles */

.circle {
    position: absolute;
    border-radius: 50%;
    opacity: 0.4;
    z-index: -1;
}

/* Large Circle */
.circle-large {
    width: 400px;
    height: 400px;
    background-color: var(--game-red);
}

/* Medium Circle */
.circle-medium {
    width: 250px;
    height: 250px;
    background-color: var(--game-yellow);
}

/* Small Circle */
.circle-small {
    width: 150px;
    height: 150px;
    background-color: var(--game-blue);
}

/* Animations */

/* Define the keyframes for the table bounce and grow effect */
@keyframes popIn {
    0% {
        transform: scale(0.5);
        opacity: 0;
        transform-origin: center;
    }
    50% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Apply the animation to the table */
table {
    animation: popIn 0.8s ease-out;
}

/* Keyframe animations and transition effects for Lambda */
@keyframes slideIn {
    0% {
        transform: translateX(150vw); /* Start off-screen to the right */
        opacity: 0; /* Ensure it's invisible initially */
    }
    100% {
        transform: translateX(0); /* End at the final position */
        opacity: 1; /* Ensure it’s fully visible */
    }
}

/* Keyframe animations and transition effects */
@keyframes slideOut {
    0% {
        transform: translateX(0); /* Start off-screen to the right */
        opacity: 1; /* Ensure it's invisible initially */
    }
    100% {
        transform: translateX(150vw); /* End at the final position */
        opacity: 0; /* Ensure it’s fully visible */
    }
}

/* For speech bubble */

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
