<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Create Category</title>
    </head>
    <body>
        <h1>Create Category</h1>
        <form method="post">
            <label for="category_name">Category Name:</label><br>
            <input type="text" id="category_name" name="category_name" required><br><br>
            <label for="category_color">Category Color:</label><br>

            <select id="category_color" name="category_color" required><br><br>
                <option value="yellow">Yellow</option>
                <option value="green">Green</option>
                <option value="red">Red</option>
                <option value="blue">Blue</option>
            </select>
            <input type="submit" id="category_color" name="category_color" required><br><br>
        </form>
    </body>
</html>