<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/css/category_question_creation.css">
        <title>Create Category</title>
    </head>
    <body>
        <header>
            <div class="headline-container">
                <a href="/"><button class="btn"><i class="fa fa-home"></i>Home</button></a>
                <a href="../static/doc/UserManual.pdf" target="_blank"><button style="margin-left: 7%;" class="btn"><i class="fa fa-book"></i>Instruction</button></a>
            </div>
            <h1>Create Category</h1>
        </header>
        <div class="bttg" style="margin-top: 40px;">
            <center><form action="/create_category" method="post">
                <label for="category_name" style="color: #0baec3;"><b>Category Name:</b></label><br>
                <input type="text" id="category_name" name="category_name" required><br><br>
                <button type="submit"><strong>Submit</strong></button>
                <hr style="margin-top: 40px;">

            </form></center>

            <center><form action="/delete_category" method="post">
                <label for="delete_name" style="color: #0baec3;"><b>Enter Category Name to Delete:</b></label><br>
                <input type="text" id="delete_name" name="delete_name" required><br><br>
                <button type="submit"><strong>Delete</strong></button>

                <p style="margin-top: 40px;">Table Content:</p>
            </form></center>

            <center>
                <table style="margin-top: 40px;">
                    <tr>
                        <th>Category Name</th>
                    </tr>
                    {% for row in table %}
                    <tr>
                      <th> {{ row[0] }}</th>
                    </tr> 
                    {% endfor %}
                </table>
            </center>
        </div>
        </form>
    </body>
</html>