<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trivial Compute Game</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/game_styles.css')}}">
</head>
<body>

    <!-- Page header -->
    <header class="header">
        <button class="header-button toggle-button" id="toggle-instructions">☰  Show/Hide Instructions</button>
        <h1 class="title">Trivial Compute!</h1>
        <div class="header-button" id="exit-button">Exit Game</div>
    </header>

    <!-- Instructions dropdown window -->
    <div class="instructions-container" id="instructions"></div>

    <div class="main-container">

        <!-- Game board and score windows -->
        <div class="game-container">
            <!-- Game Board (rows listed from top to bottom) -->
            <div class="game-board">
                <!-- First row -->
                <div class="square white">Roll<br>Again</div>
                <div class="square yellow"></div>
                <div class="square blue"></div>
                <div class="square green"></div>
                <div class="square red">HQ</div>
                <div class="square yellow"></div>
                <div class="square blue"></div>
                <div class="square green"></div>
                <div class="square white">Roll<br>Again</div>

                <!-- Second row -->
                <div class="square red"></div>
                <div class="square-empty white"></div>
                <div class="square-empty white"></div>
                <div class="square-empty white"></div>
                <div class="square yellow"></div>
                <div class="square-empty white"></div>
                <div class="square-empty white"></div>
                <div class="square-empty white"></div>
                <div class="square red"></div>

                <!-- Third row -->
                <div class="square green"></div>
                <div class="square-empty white"></div>
                <div class="square-empty white"></div>
                <div class="square-empty white"></div>
                <div class="square blue"></div>
                <div class="square-empty white"></div>
                <div class="square-empty white"></div>
                <div class="square-empty white"></div>
                <div class="square yellow"></div>

                <!-- Fourth row -->
                <div class="square blue"></div>
                <div class="square-empty white"></div>
                <div class="square-empty white"></div>
                <div class="square-empty white"></div>
                <div class="square green"></div>
                <div class="square-empty white"></div>
                <div class="square-empty white"></div>
                <div class="square-empty white"></div>
                <div class="square blue"></div>

                <!-- Fifth row -->
                <div class="square yellow">HQ</div>
                <div class="square blue"></div>
                <div class="square green"></div>
                <div class="square red"></div>
                <div class="square white">Trivial<br>Compute</div>
                <div class="square blue"></div>
                <div class="square yellow"></div>
                <div class="square red"></div>
                <div class="square green">HQ</div>

                <!-- Sixth row -->
                <div class="square red"></div>
                <div class="square-empty white"></div>
                <div class="square-empty white"></div>
                <div class="square-empty white"></div>
                <div class="square yellow"></div>
                <div class="square-empty white"></div>
                <div class="square-empty white"></div>
                <div class="square-empty white"></div>
                <div class="square red"></div>

                <!-- Seventh row -->
                <div class="square green"></div>
                <div class="square-empty white"></div>
                <div class="square-empty white"></div>
                <div class="square-empty white"></div>
                <div class="square red"></div>
                <div class="square-empty white"></div>
                <div class="square-empty white"></div>
                <div class="square-empty white"></div>
                <div class="square yellow"></div>

                <!-- Eighth row -->
                <div class="square blue"></div>
                <div class="square-empty white"></div>
                <div class="square-empty white"></div>
                <div class="square-empty white"></div>
                <div class="square green"></div>
                <div class="square-empty white"></div>
                <div class="square-empty white"></div>
                <div class="square-empty white"></div>
                <div class="square blue"></div>

                <!-- Ninth row -->
                <div class="square white">Roll<br>Again</div>
                <div class="square yellow"></div>
                <div class="square red"></div>
                <div class="square green"></div>
                <div class="square blue">HQ</div>
                <div class="square yellow"></div>
                <div class="square red"></div>
                <div class="square green"></div>
                <div class="square white">Roll<br>Again</div>
            </div>

            <!-- Score windows -->
            <div class="window" id="red-window">
                <div class="player-name" id="red-player"></div>
                <div class="score-grid" id="grid1">
                    <div class="score-square" id="red-red-score-square"></div>
                    <div class="score-square" id="red-yellow-score-square"></div>
                    <div class="score-square" id="red-green-score-square"></div>
                    <div class="score-square" id="red-blue-score-square"></div>
                </div>
            </div>
            <div class="window" id="yellow-window">
                <div class="player-name" id="yellow-player"></div>
                <div class="score-grid" id="grid2">
                    <div class="score-square" id="yellow-red-score-square"></div>
                    <div class="score-square" id="yellow-yellow-score-square"></div>
                    <div class="score-square" id="yellow-green-score-square"></div>
                    <div class="score-square" id="yellow-blue-score-square"></div>
                </div>
            </div>
            <div class="window" id="green-window">
                <div class="player-name" id="green-player"></div>
                <div class="score-grid" id="grid3">
                    <div class="score-square" id="green-red-score-square"></div>
                    <div class="score-square" id="green-yellow-score-square"></div>
                    <div class="score-square" id="green-green-score-square"></div>
                    <div class="score-square" id="green-blue-score-square"></div>
                </div>
            </div>
            <div class="window" id="blue-window">
                <div class="player-name" id="blue-player"></div>
                <div class="score-grid" id="grid4">
                    <div class="score-square" id="blue-red-score-square"></div>
                    <div class="score-square" id="blue-yellow-score-square"></div>
                    <div class="score-square" id="blue-green-score-square"></div>
                    <div class="score-square" id="blue-blue-score-square"></div>
                </div>
            </div>
        </div>

        <!-- Player prompts, trivia cards, and action buttons -->
        <div class="gameplay-container">

            <!-- Container for trivia cards -->
            <div class="question-container" id="question-window">

                <div class="card-container">
                    <!-- Decorative card with logo -->
                    <div class="decorative-card" id="decorative-card">
                        <div class="card-border"></div>
                    </div>
                    <!-- Content card with question and answer -->
                    <div class="card">
                        <div class="content-card" id="content-card">
                            <div class="content-card-border"></div>
                            <div class="card-front">
                                <div class="content-card-border" id="question-border"></div>
                                <div class="card-content" id="content-question"></div>
                            </div>
                            <div class="card-back">
                                <div class="content-card-border" id="answer-border"></div>
                                <div class="card-content" id="content-answer"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Answer buttons -->
                <div class="answer-button-container">
                    <button class="button" id="show-answer-button">Show Answer</button>
                    <button class="button" id="correct-button">Correct</button>
                    <button class="button" id="incorrect-button">Not Correct</button>
                </div>

                <!-- Category buttons -->
                <div class="category-container" id="category-table">
                    <button class="category-button red" id="red-row"></button>
                    <button class="category-button yellow" id="yellow-row"></button>
                    <button class="category-button green" id="green-row"></button>
                    <button class="category-button blue" id="blue-row"></button>
                </div>

            </div>

            <!-- Window with Lambda character and prompt text, die -->
            <div class="player-prompt-container">

                <!-- Table tracking player turns -->
                <table class="player-table" id="player-table">
                    <thead>
                        <tr>
                            <th>Turn Order</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

                <!-- Prompt window with die and Lambda -->
                <div class="lambda-container" id="lambda-container">

                    <!-- Die -->
                    <div class="die-container">
                        <div class="die" id="die">-</div>
                        <button class="button" id="rollDieButton">Roll Die</button>
                    </div>

                    <!-- Text window -->
                    <div class="text-window">
                    <div class="player-prompt-text" id="player-prompt-text"></div>
                    <button class="button" id="ok-button" style="display: none;">OK</button>
                        </div>

                    <!-- Lambda character -->
                    <div class="lambda" id="lambda"></div>

                </div>

            </div>

        </div>

    </div>

    <!-- Pop-up to exit game -->
    <div id="exit-popup" class="popup-overlay">
        <div class="popup-content">
            <p>Are you sure you want to exit the game?<br>Your game will not be saved when you leave.</p>
            <div class="popup-button-container">
                <div class="button" id="confirm-exit">Yes</div>
                <div class="button" id="cancel-exit">No</div>
            </div>
        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='js/classes/MoveHandler.js') }}"></script>
<script src="{{ url_for('static', filename='js/classes/GameUIController.js') }}"></script>
<script src="{{ url_for('static', filename='js/classes/TriviaManager.js') }}"></script>
<script src="{{ url_for('static', filename='js/classes/Die.js') }}"></script>
<script src="{{ url_for('static', filename='js/classes/Lambda.js') }}"></script>
<script src="{{ url_for('static', filename='js/game_script.js') }}"></script>
</html>
