<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/category_question_creation.css">
    <title>Trivial Compute</title>
    </head>
    <body>
        <header>
            <div class="headline-container">
                <a href="../static/doc/UserManual.pdf" target="_blank"><button" class="btn"><i class="fa fa-book"></i>User Manual</button></a>
            </div>
            <h1>Welcome to Trivial Compute</h1>
        </header>
        <center><img class="indx-img" src="{{url_for('static', filename='/photos/howtoplay.jpeg')}}"></center>
        <div class="bttg">
            <a href="/create_category" class="bttg2" style="text-decoration:none;">
                <button style="font-weight:bold; font-size: 20px;";>Create Category</button>
            </a>
            <br>
            <a href="/create_question" class="bttg2" style="text-decoration:none;">
                <button style="font-weight:bold; font-size: 20px;";>Create Question</button>
            </a>
            <br>
            <a href="/setup_screen" class="bttg2" style="text-decoration:none;">
                <button style="font-weight:bold; font-size: 20px;";>Start Game</button>
            </a>
        </div>
    </body>
</html>
